*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --LightGrayishBlue: hsl(210, 46%, 95%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
}

img {
    max-width: 100%;
}

body {
    background: var(--LightGrayishBlue);
    font-family: 'Manrope';
}



.card {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-top: 7%;
    position: relative;
}

.drawer-image   {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#text-component {
    padding: 7% 5% 0;
    width: 90%;
    margin: auto;
}

#heading {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--VeryDarkGrayishBlue);
    margin-bottom: 10px;
}

.description-text {
    font-size: .9rem;
    color: var(--DesaturatedDarkBlue);
}

.profile {
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 100px;
}

.avatar {
    width: 20%;
    float: left;
    border-radius: 100px;
    margin-right: 20px;
}

.share {
    margin: 0 0 0 auto;
    font-size: 1.5rem;
    z-index: 1;
    background: var(--GrayishBlue);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
}


.footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: var(--VeryDarkGrayishBlue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    padding: 7% 5%;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--GrayishBlue);
}

.share-img {
    padding: 0 10px;
}


@media (min-width:768px) {
    .card {
        max-width: 70%;
        flex-direction: row;
        height: auto;
        justify-content: space-between;
    }

    #image-component {
        width: 45%;
    }

    #text-component {
        width: 50%;
    }

    .drawer-image {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    .avatar {
        width: 10%;
    }
}